/* ___________Progress steps___________ */

:root {
    --line-border-fill: rgb(10, 12, 98);
    --line-border-empty: rgb(114, 114, 114)
}


* {
    box-sizing: border-box;
}

body {
    background-color: rgb(149, 152, 152);
    font-family: 'Lucida Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 100px;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}
.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: .4s ease;
}

.circle {
    background-color: rgb(195, 195, 195);
    color: rgb(0, 0, 0);
    border-radius: 60%;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;   
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}
.btn:focus {
    outline: 0;
}
.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}

/* ___________Adaptive menu___________ */

#menu {
    width: 270px;
    height: 100vh;
    background-color: rgb(10, 12, 98);
    position:  fixed;
    left: -220px;
    top: 0;
    transition: 1s ease;
}
.ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    color: rgb(201, 201, 201);
    font-size: 34;
    position: relative;
    text-align: center;
    line-height: 40px;
    transition: 3.5s ease;
}

.ul-hidden {
    opacity: 0;
    visibility: hidden;
    transition: 0.55s opacity, 0.55s visibility;
}