
#menu {
    width: 270px;
    height: 100vh;
    background-color: rgb(10, 12, 98);
    position:  fixed;
    left: -230px;
    top: 0;
    transition: 1s ease;
}
.ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    color: rgb(201, 201, 201);
    font-size: 34;
    position: relative;
    text-align: center;
    line-height: 40px;
    transition: 3.5s ease-out;
}